<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>google</key>
	<dict>
		<key>server</key>
		<string>apidata.googleusercontent.com</string>
		<key>port</key>
		<integer>0</integer>
		<key>path</key>
		<string>/caldav/v2/</string>
		<key>use_ssl</key>
		<true/>
		<key>use_kerberos</key>
		<true/>
		<key>fragment</key>
		<string></string>
		<key>authorization_prefix</key>
		<string>Bearer </string>
	</dict>
	<key>yahoo</key>
	<dict>
		<key>server</key>
		<string>caldav.calendar.yahoo.com</string>
		<key>port</key>
		<integer>0</integer>
		<key>path</key>
		<string>/Calendar/</string>
		<key>use_ssl</key>
		<true/>
		<key>use_kerberos</key>
		<true/>
		<key>fragment</key>
		<string></string>
		<key>authorization_prefix</key>
		<string>Basic </string>
	</dict>
	<key>icloud</key>
	<dict>
		<key>server</key>
		<string>https://caldav.icloud.com</string>
		<key>port</key>
		<integer>0</integer>
		<key>path</key>
		<string>/calendars/</string>
		<key>use_ssl</key>
		<true/>
		<key>use_kerberos</key>
		<true/>
		<key>fragment</key>
		<string></string>
		<key>authorization_prefix</key>
		<string>Basic </string>
	</dict>
	<key>flo</key>
	<dict>
		<key>server</key>
		<string>flo.floware.com</string>
		<key>port</key>
		<integer>8031</integer>
		<key>path</key>
		<string>/calendarserver.php/calendars/</string>
		<key>use_ssl</key>
		<true/>
		<key>use_kerberos</key>
		<true/>
		<key>fragment</key>
		<string></string>
		<key>authorization_prefix</key>
		<string>Basic </string>
	</dict>
</dict>
</plist>
