//
//  Release.xcconfig
//  DCFiOS
//
//  Created by Hai Nguyen on 2018-12-12.
//  Copyright © 2018 Hai Nguyen. All rights reserved.
//

PRODUCT_BUNDLE_IDENTIFIER = com.floware.universalflo.osx
PRODUCT_MODULE_NAME = DCFiOS
PRODUCT_NAME = DCFiOS
BUNDLE_DISPLAY_NAME = DCFiOS
CRASHLYTICS_API_KEY = d8175690aec5316b87263519f0a72dc862dd6e9d
GOOGLE_APP_URL_SCHEME = com.googleusercontent.apps.11348411501-c756dnoog4jg8njmuti4pehuktm6q9is
HEADERMAP_USES_VFS = YES
SWIFT_WHOLE_MODULE_OPTIMIZATION = NO
STRIP_BITCODE_FROM_COPIED_FILES = NO
SWIFTYBEAVER_APPID = k6POAG
SWIFTYBEAVER_APPSECRET = 8Cq8sbizvnzmbYRax7d71izu6x8dnijq
SWIFTYBEAVER_ENCRYPTIONKEY = eZmycnok69qak40ooGXeotrpWhkvorkU
LOGGING_LEVEL = 4
URL_SCHEME = com.floware.universalflo.osx
NETWORKING_CLIENT_NAME = Alamofire
TRACKING_APP_NAME = DCFiOS
TRACKING_APP_KIND = iPad
BACKGROUND_FETCH_INTERVAL = 600
REPORT_DEVICE_TOKEN = YES
CERTIFICATE_ENVIRONMENT = 0
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = NO
DEVICE_TYPE = 1
TARGETED_DEVICE_FAMILY = 1,2
