<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLog</key>
	<true/>
	<key>ActiveStatusRetrieve</key>
	<true/>
	<key>LogInfos</key>
	<dict>
		<key>emails</key>
		<array>
			<string>trungnet@flomail.net</string>
			<string>hai@flomail.net</string>
			<string>hai@leftcoastlogic.com</string>
			<string>flouniversal@gmail.com</string>
		</array>
	</dict>
	<key>APIBaseUrl</key>
	<string>http://123flo.com:8057/api/v2/</string>
	<key>KeychainService</key>
	<string>com.floware.universalflo.dev</string>
	<key>KeychainGroup</key>
	<string>TL9V27BMW8.com.floware.universalflo.dev</string>
	<key>DomainName</key>
	<string>123flo.com</string>
	<key>Username</key>
	<string>folders</string>
	<key>Password</key>
	<string>111111</string>
	<key>AllowReportCrash</key>
	<false/>
	<key>LoggingLevels</key>
	<integer>0</integer>
	<key>SMTP</key>
	<dict>
		<key>OutGoing</key>
		<dict>
			<key>ServerUrl</key>
			<string>mail.123flo.com</string>
			<key>Port</key>
			<integer>25</integer>
			<key>UseSSL</key>
			<true/>
			<key>AuthType</key>
			<integer>2</integer>
			<key>ConnectionType</key>
			<integer>2</integer>
			<key>MaxConnections</key>
			<integer>1</integer>
		</dict>
		<key>Incoming</key>
		<dict>
			<key>ServerUrl</key>
			<string>mail.123flo.com</string>
			<key>Port</key>
			<integer>993</integer>
			<key>UseSSL</key>
			<true/>
			<key>ConnectionType</key>
			<integer>4</integer>
			<key>TypeIncome</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>CaxDav</key>
	<dict>
		<key>CalDav</key>
		<dict>
			<key>ServerUrl</key>
			<string>http://123flo.com</string>
			<key>Port</key>
			<real>8058</real>
			<key>UseSSL</key>
			<true/>
			<key>Endpoint</key>
			<string>calendarserver.php/calendars/</string>
			<key>UseKerberos</key>
			<integer>0</integer>
		</dict>
		<key>CardDav</key>
		<dict>
			<key>ServerUrl</key>
			<string>http://123flo.com</string>
			<key>Port</key>
			<real>8058</real>
			<key>UseSSL</key>
			<true/>
			<key>Endpoint</key>
			<string>addressbookserver.php/addressbooks/</string>
			<key>UseKerberos</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>Terms</key>
	<string>http://www.floware.com/terms-of-service</string>
	<key>Policy</key>
	<string>http://www.floware.com/privacy-policy</string>
	<key>Recovery</key>
	<string>http://123flo.com:8056/#/recovery</string>
	<key>MaxAttachmentFileSize</key>
	<integer>10000000</integer>
	<key>GoogleDriveAPIBaseUrl</key>
	<string>https://www.googleapis.com/drive/v3/</string>
	<key>SnoozeInterval</key>
	<integer>15</integer>
	<key>DefaultSyncInterval</key>
	<integer>30</integer>
</dict>
</plist>
