//
//  Debug.xcconfig
//  DCFiOS
//
//  Created by Hai Nguyen on 2018-12-12.
//  Copyright © 2018 Hai Nguyen. All rights reserved.
//

PRODUCT_BUNDLE_IDENTIFIER = com.floware.universalflo.osx
PRODUCT_MODULE_NAME = DCFiOS
PRODUCT_NAME = DCFiOS
BUNDLE_DISPLAY_NAME = DCFiOS Dev
GOOGLE_APP_URL_SCHEME = com.floware.com
HEADERMAP_USES_VFS = YES
SWIFT_WHOLE_MODULE_OPTIMIZATION = NO
STRIP_BITCODE_FROM_COPIED_FILES = NO
SWIFTYBEAVER_APPID = 9GzPQM
SWIFTYBEAVER_APPSECRET = yZxuyva70gqak4nkkrpJ9iuhZocahkul
SWIFTYBEAVER_ENCRYPTIONKEY = 5dxxliu8SpjbhtEcNXenpC1b3flostr4
LOGGING_LEVEL = 0
URL_SCHEME = com.floware.universalflo.osx
NETWORKING_CLIENT_NAME = Alamofire
TRACKING_APP_NAME = DCFiOS
TRACKING_APP_KIND = iPad
BACKGROUND_FETCH_INTERVAL = 30
REPORT_DEVICE_TOKEN = NO
CERTIFICATE_ENVIRONMENT = 0
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = NO
DEVICE_TYPE = 1
TARGETED_DEVICE_FAMILY = 1,2
