#github "Alamofire/Alamofire"
#github "SwiftyJSON/SwiftyJSON"
#github "nvzqz/FileKit" "v5.1.0"
#git "/Users/hai/workspaces/FloUniversal" "core"
#github "CocoaLumberjack/CocoaLumberjack"
#github "sascha/DrawerController"
#github "Friend-LGA/LGSideMenuController"
github "kishikawakatsumi/KeychainAccess"
