<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Background Fetch Interval</key>
		<string>$(BACKGROUND_FETCH_INTERVAL)</string>
		<key>CFBundleDevelopmentRegion</key>
		<string>en</string>
		<key>CFBundleDisplayName</key>
		<string>$(BUNDLE_DISPLAY_NAME)</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>$(PRODUCT_NAME)</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>0.2.1</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
					<string>$(URL_SCHEME)</string>
				</array>
			</dict>
		</array>
		<key>CFBundleVersion</key>
		<string>364</string>
		<key>Certificate Environment</key>
		<string>$(CERTIFICATE_ENVIRONMENT)</string>
		<key>Device Type</key>
		<string>$(DEVICE_TYPE)</string>
		<key>Fabric</key>
		<dict>
			<key>APIKey</key>
			<string>d8175690aec5316b87263519f0a72dc862dd6e9d</string>
			<key>Kits</key>
			<array>
				<dict>
					<key>KitInfo</key>
					<dict/>
					<key>KitName</key>
					<string>Crashlytics</string>
				</dict>
			</array>
		</dict>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>Logging</key>
		<dict>
			<key>AppID</key>
			<string>$(SWIFTYBEAVER_APPID)</string>
			<key>AppSecret</key>
			<string>$(SWIFTYBEAVER_APPSECRET)</string>
			<key>EncryptionKey</key>
			<string>$(SWIFTYBEAVER_ENCRYPTIONKEY)</string>
			<key>Level</key>
			<real>0.0</real>
		</dict>
		<key>Main Scheme</key>
		<string>$(URL_SCHEME)</string>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
		</dict>
		<key>NSCameraUsageDescription</key>
		<string>$(PRODUCT_NAME) would like to access the Camera</string>
		<key>NSContactsUsageDescription</key>
		<string>$(PRODUCT_NAME) would like to access the Contacts Library</string>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<string>$(PRODUCT_NAME) would like to access the Photos Library</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>$(PRODUCT_NAME) would like to access the Photos Library</string>
		<key>Networking Client Name</key>
		<string>$(NETWORKING_CLIENT_NAME)</string>
		<key>Report Device Token</key>
		<string>$(REPORT_DEVICE_TOKEN)</string>
		<key>Tracking App Kind</key>
		<string>$(TRACKING_APP_KIND)</string>
		<key>Tracking App Name</key>
		<string>$(TRACKING_APP_NAME)</string>
		<key>UIBackgroundModes</key>
		<array>
			<string>fetch</string>
			<string>remote-notification</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UIRequiredDeviceCapabilities</key>
		<array>
			<string>armv7</string>
		</array>
		<key>UIRequiresFullScreen</key>
		<false/>
		<key>UIStatusBarStyle</key>
		<string>UIStatusBarStyleLightContent</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
		</array>
	</dict>
</plist>
